<ion-view view-title="tudu">
  <ion-content
          padding="false"
          has-tabs="true"
          has-header="true"
          >
    <div class="list card" ng-repeat="event in events" href="#/tab/event/{{event.eventid}}">

      <div class="item item-avatar" href="#/tab/event/{{event.eventid}}">
        <h2>{{event.date}}</h2>
        <p>{{event.venue}}</p>
      </div>

      <div class="item item-image" href="#/tab/event/{{event.eventid}}">
        <img src="{{event.eventimg}}">
      </div>

      <a class="item item-icon-left assertive" href="#/tab/event/{{event.eventid}}">
        {{event.name}}
      </a>

    </div>
  </ion-content>
</ion-view>
